#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(225, 241, 249);
  color: black;
}

header {
  padding: 0.5rem 1rem;
  text-align: center;
  background: rgb(24, 106, 150);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header h1 {
  font-size: 1rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.content-container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.filters-container {
  width: 15%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  overflow: scroll;
  scrollbar-color: rgba(130, 132, 133, 1) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard-container {
  width: 60%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  overflow-y: auto;
}

.viewer-add-stats-container {
  width: 25%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.viewer-container {
  position: relative;
  width: 100%;
  height: 70%;
}

.stats-container {
  position: relative;
  width: 100%;
  height: 30%;
}